<html>
  <head>
    <title>Go Test - {{Title}}</title>
    <link rel="stylesheet" href="//cdn.smtcs.rocks/bs/bs.css">
  </head>
  <body>
    <div class="container">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>